.bannerBox {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 460px;
    width: 400px;
    z-index: 1;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    color: var(--text-primary);
    font-family: 'Roboto', sans-serif;
    transition: 0.8s;
    background: #FFFFFF;
    border: 1px solid #86E125;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

.bannerBox:hover {
    color: white;
    background-color: var(--text-green);
}

.bannerBox:hover h1  {
    color: white;
}
.bannerBox:hover h2  {
    color: #a5ff46;
}

.bannerBox h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #666666;
    margin-top: 10px;
}

.bannerBox h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #88F218;
}

.box_line {
    display: flex;
    width: 100%;
    height: 1.3px;
    background-color: rgb(206, 206, 206);
    width: 100%;
}

.bannerBox p {
    font-size: 0.9rem;
    max-width: 400px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 30px;
}
.card_content{
    padding-left: 20px;
}

@media screen and (max-width: 800px) {
    .bannerBox {
        width: 350px;
        max-height: 300px;
    }

    .bannerBox h1 {
        font-size: 2.8rem;
    }

    .bannerBox h2 {
        font-size: 1.6rem;
    }

    .box_line {
        display: flex;
        width: 100%;
        height: 1.3px;
        width: 100%;
    }

    .bannerBox p {
        font-size: 1rem;
        line-height: 30px;
        max-width: 350px;
    }

}

@media screen and (max-width: 600px) {
    .bannerBox {
        margin: 10px;
        padding: 20px;
        width: 100%;
        width: 350px;
        max-height: 340px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bannerBox h1 {
        font-size: 1.6rem;
    }

    .bannerBox h2 {
        font-size: 1.3rem;
    }

    .box_line {
        display: flex;
        width: 100%;
        height: 1.3px;
        width: 100%;
    }

    .bannerBox p {
        font-size: 0.9rem;
        line-height: 30px;
        max-width: 350px;
    }

}

@media screen and (max-width: 400px) {
    .bannerBox {
        max-width: 280px;
        height: 290px;
    }

    .bannerBox h1 {
        font-size: 2rem;
    }

    .bannerBox h2 {
        font-size: 1.1rem;

    }

    .bannerBox p {
        margin-top: 15px;
        font-size: 0.9rem;
        line-height: 25px;
        max-width: 360px;
    }

}