.opportunities{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: 'roboto', sans-serif;
    margin-top: 100px;
}
.opportunities_content h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.opportunities_content p{
    font-size: 1.2rem;
    font-weight: 400;
}
.card_row{
    display: flex;
    margin-top: 70px;
    margin-bottom: 50px;
}
.carousel{
    display: none;
}
@media screen and (max-width: 800px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .opportunities_content h1{
        font-size: 2.3rem;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1.2rem;
        font-weight: 400;
        max-width: 700px;
    }
    .card_row{
        display: none;   
    }
    .carousel{
        display: block;
    }
    .carousel-control-prev-icon{
        display: none;
    }
    .carousel-control-next-icon{
        display: none;
    }
    
}
@media screen and (max-width: 600px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 60px;
    }
    .opportunities_content h1{
        font-size: 2rem;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1.1rem;
        font-weight: 400;
        max-width: 500px;
    }
}
@media screen and (max-width: 400px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
    }
    .opportunities_content h1{
        font-size: 1.5em;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1rem;
        font-weight: 400;
        max-width: 340px;
    }
}