.opportunities{
    display: flex;
    justify-content:center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
    font-family: 'roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
}
.opportunities_content{
    display: flex;
    justify-content: space-evenly;
}
.opportunities_line{
    display: flex;
    width: 100%;
    height: 5px;
    background-color: #88F218;
}
.opportunities_content h1{
    font-size: 2.5rem;
    font-weight: 400;
}
.opportunities_content p{
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 500px;
}
.card_row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}
.carousel{
    display: none;
}
@media screen and (max-width: 800px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .opportunities_content h1{
        font-size: 2.3rem;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1.2rem;
        font-weight: 400;
        max-width: 700px;
    }
    .opportunities_content{
        display: flex;
        flex-direction: column;
    }
    .opportunities_content_line{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .opportunities_line{
        width: 40%;
        height: 5px;
        margin-top: 2px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 600px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 60px;
    }
    .opportunities_content h1{
        font-size: 2rem;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1.1rem;
        font-weight: 400;
        max-width: 500px;
    }
    .carousel{
        display: block;
    }
    .card_row{
        display: none;

    }
    
}
@media screen and (max-width: 400px){
    .opportunities{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: 40px;
    }
    .opportunities_content h1{
        font-size: 1.5em;
        font-weight: 500;
    }
    .opportunities_content p{
        font-size: 1rem;
        font-weight: 400;
        max-width: 340px;
    }
}