@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:wght@100;300;400;500&family=Syne:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
:root{
    --text-primary: rgb(12, 12, 12);
    --text-green:#45d54d;
    --text-grey:rgb(114, 114, 114);
    --text-white:white;

}
.App{
    color: var(--text-primary);
}

body{
    background: var(--background);
}